body {
  background: rgba(0,0,0,.9);
  display: block;
}

.cs-content {
  position: static;
  max-width: 600px;
  margin: 2rem auto;
  border-radius: 1rem;
  padding: 5rem;
}

.heading, .cs-select-login-provider-instructions, .passwordless-signin, .login-footer {
  display: none !important;
}

.login-main {
  position: static;
}
