body {
  background: rgba(0,0,0,.9);
  display: block;
}

.cs-content, .registration-container {
  position: static;
  max-width: 600px;
  margin: 2rem auto;
  border-radius: 1rem;
  padding: 4rem 4rem 1rem;
  background: #fff;
}

.cs-content .content {
  color: #000;
}

.heading, .cs-select-login-provider-instructions, .passwordless-signin, .login-footer, .alternate-signin-toggle, #forgot-password-link {
  display: none !important;
}

.cloud-directory {
  display: block !important;
}

.login-main {
  position: static;
}

button, .cs-link-button {
  background: #000 !important;
}
